{% extends "layout.html" %}
{% block title %}Front page{% endblock %}
{% block content %}
<h2>Explore lineages:</h2>
<b>{{ message }}</b>
{% if session.user_id %}
<form action="/event" method="post">
<p>Which person or event would you like to know more about?
<br>
<br>
<input type="text" name="answer">
</p>
<input type="submit" value="Submit">
<br>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
<a href="/">Front page</a>
<br>
<ul>
{% for event in events %}
<li>{{ event.word2 }}</li>
{% endfor %}
</ul>
<br>
<br>
{% endif %}
{% endblock %}